
*.vsidx
.vs/DesignPatterns/v17/.suo
*.vsidx
.vs/DesignPatterns/v17/.suo
*.dll
FactoryMethod/bin/Debug/net7.0/FactoryMethod.deps.json
FactoryMethod/bin/Debug/net7.0/FactoryMethod.exe
FactoryMethod/bin/Debug/net7.0/FactoryMethod.pdb
FactoryMethod/bin/Debug/net7.0/FactoryMethod.runtimeconfig.json
FactoryMethod/obj/FactoryMethod.csproj.nuget.dgspec.json
FactoryMethod/obj/FactoryMethod.csproj.nuget.g.props
FactoryMethod/obj/FactoryMethod.csproj.nuget.g.targets
FactoryMethod/obj/project.assets.json
FactoryMethod/obj/project.nuget.cache
FactoryMethod/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
FactoryMethod/obj/Debug/net7.0/_IsIncrementalBuild
FactoryMethod/obj/Debug/net7.0/apphost.exe
FactoryMethod/obj/Debug/net7.0/FactoryMethod.AssemblyInfo.cs
FactoryMethod/obj/Debug/net7.0/FactoryMethod.AssemblyInfoInputs.cache
FactoryMethod/obj/Debug/net7.0/FactoryMethod.assets.cache
FactoryMethod/obj/Debug/net7.0/FactoryMethod.csproj.AssemblyReference.cache
FactoryMethod/obj/Debug/net7.0/FactoryMethod.csproj.BuildWithSkipAnalyzers
FactoryMethod/obj/Debug/net7.0/FactoryMethod.csproj.CoreCompileInputs.cache
FactoryMethod/obj/Debug/net7.0/FactoryMethod.csproj.FileListAbsolute.txt
FactoryMethod/obj/Debug/net7.0/FactoryMethod.GeneratedMSBuildEditorConfig.editorconfig
FactoryMethod/obj/Debug/net7.0/FactoryMethod.genruntimeconfig.cache
FactoryMethod/obj/Debug/net7.0/FactoryMethod.GlobalUsings.g.cs
FactoryMethod/obj/Debug/net7.0/FactoryMethod.pdb
Builder/bin/
Builder/obj/
Prototype/obj/
Prototype/bin/
Singleton/obj/
Singleton/bin/
Adapter/obj/
Adapter/bin/
Bridge/obj/
Bridge/bin/
Composite/obj/
Decorator/bin/
Decorator/obj/
Fecade/bin/
Fecade/obj/
Proxy/obj/
Proxy/bin/
Composite/bin/
ChainOfResponsibility/bin/
ChainOfResponsibility/obj/
Command/obj/
Command/bin/
Mediator/bin/
Mediator/obj/
Observer/obj/
Observer/bin/
Strategy/obj/
TemplateMethod/bin/
TemplateMethod/obj/
Strategy/bin/
Visitor/obj/
Visitor/bin/
State/obj/
State/bin/
